[submodule "backend"]
	path = backend
	url = https://github.com/Project-Menara/nusantara_service.git
[submodule "nusantara_service"]
	path = nusantara_service
	url = https://github.com/Project-Menara/nusantara_service.git
[submodule "nusantara_mobile"]
	path = nusantara_mobile
	url = https://github.com/Project-Menara/nusantara_mobile.git
